

#products_showcase{
    .card{
        height: auto;
        padding: var( --spacing-xsmall);
        margin-bottom: var(--spacing-xsmall);
        h3{
            font-size: var(--text-medium);
            margin-bottom: var(--spacing-xsmall);
        }
        .card-title{
            font-size: var(--text-base);
        }
        p{
            font-size: var(--text-base);
            font-weight: bold;
        }
        

        .card-img-top{
            height: auto;
            padding: var(--spacing-xsmall);
            aspect-ratio: 1/1.1;
        }
    .vert-img{
        aspect-ratio: 1/1.2;
    }


    
}}